body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.img1{
    width: 100%;
    height: 600px;
}
.bg-image{
  position: relative;
}
.first{
  position: absolute;
  top:40px;
}
.img2{
  width: 90px;
  height: 60px;
  margin-left: 40px;
}
.header{
  position: absolute;
  top: 300px;
}
.header1{
  position: absolute;
  top: 500px;
}
.header2{
  position: absolute;
  top: 550px;
}
.header3{
  position: absolute;
  top: 150px;
}
.header4{
  position: absolute;
  top: 350px;
}

.bg-pink-100{
  background: #f7d6e6;
}
.nav-link{
  text-decoration: none;
}
#home-link:hover{
  background-color: rgb(235, 169, 180);
}
.img3{
  width: 30%;
  height: 170px;
}
.img4{
  width: 30%;
  height: 170px;
}
.img5{
  width: 30%;
  height: 170px;
}
#button2:hover{
background-color: rgb(240, 154, 154);
}
.progress{
  width: 300px;
}
.img6{
  width: 100px;
  height: 40px;
}
.nav-link2{
  text-decoration: none;
}
#button{
  cursor: pointer;
}
#border:hover{
  color: rgb(165, 157, 157);
}
#btn:hover{
  background-color: rgb(248, 100, 100);
}
#nav-footer:hover{
  color: black;
}
#btn1:hover{
  background-color: rgb(68, 67, 67);
}
#btn2:hover{
  background-color: rgb(238, 38, 71);
}
.img7{
  height: 450px;
  width: 400px;
  border-radius: 10px;
  position: absolute;
  top: 600px;
}

.card{
  width:200px ;
  position: absolute;
  bottom: 80px;
  margin-left: 100px;
}
#card{
  background-color: rgb(202, 8, 8);
  width: 300px;
}
.img8{
  width: 200px;
  height: 100px;
  
  
}
.img10{
  width: 95%;
  height: 250px;
  border-radius: 10px;
  position: relative;
}
.second{
  position: absolute;
  top:1250px;
  margin-left: 210px;
}
.img9{
  width: 45%;
  height: 200px;
  margin-top: 20px;
  border-radius: 10px;
  margin-left: 7px;
  position: relative;
}
.third{
 position: absolute;
 top: 1470px;
 margin-left: 15px;
}
.img11{
  width: 45%;
  height: 200px;
  margin-top: 20px;
  border-radius: 10px;
  margin-left: 20px;
  position: relative;
}
.fourth{
  position: absolute;
  top: 1470px;
  margin-left: 320px;
}
.img12{
  width: 100%;
  height: 470px;
  border-radius: 10px;
  position: relative;
}
.fifth{
  position: absolute;
  top: 1350px;
  margin-left: 210px;
}
.img14{
  width: 20%;
  height: 50px;
  border-radius: 20px;
}

.bg-pink-200{
  background: #fbb1d5;
}
.img20{
  width: 8%;
  height: 80px;
  border-radius: 50px;
}